  /* 
  Font Size System px:-
  H1 : 44 52 62 
  
  P : 16  18 20

  H2 : 24 30 36 

  Small : 10 12 14 16
  
  */


    /* 
    
 Main Color: #640d14 
 Main Color:hover: #800e13 
 
 Text Color: ##343a40
    */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    font-family: 'Inter',sans-serif;
    border-bottom: 8px solid #640d14 ;
}

.coffee-container{
    width: 95%;
    max-width: 960px;
    margin: 0 auto;
    /* background-color: gold; */
}

h1{
    font-size: 47px;
    line-height: 1.1;
    letter-spacing: -1px;
    text-transform: capitalize;
    margin-bottom: 24px;
}

h2{
    margin-bottom: 36px;
    font-size: 36px;
    /* line-height: 1.3; */
    letter-spacing: -0.5px;
    /* text-transform: capitalize; */
}

.header-text{
    font-size: 18px;
    line-height: 1.7;
}
.btn:link, 
.btn:visited{
   
    
    background-color: #640d14;
    color: #fff;
    text-decoration: none;
    
    text-transform: uppercase;
    font-weight: 600;
    
}

.btn:hover,.btn:active{
    background-color: #800e13;
}

.btn--big{
    padding: 16px 32px;
    font-size: 18px;
    margin-top: 30px;
    display: inline-block;
}

.btn--small{
    padding: 8px 12px;
    font-size: 14px;
}



header, section{
    margin-bottom: 48px;
}


.special{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 80px;
}

.special h2{
    grid-column: 1/-1;
}

.features-title{
    margin-bottom: 16px;
    font-size: 20px;
}

.features-text{
    font-size: 18px;
    line-height: 1.7;
}
.features-icon{
    width: 30px;
    height: 30px;
    margin-bottom: 16px;
    stroke: #640d14 ;
}

header{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 50px;
    margin-top: 100px;
}

.testimonial{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    columns: 50px;

    background-color: #640d14;
    color: #fff;
    padding: 24px;
    
}
.testimonial-box h2{
    /* 24 30 36  */
    font-size: 30px;
}
.testimonial-text{
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 30px;

}

.blends{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* column-gap: 80px; */
}
.best-selling{
    grid-column: 1/-1;
    margin-bottom: 30px;
}

.cart{
    display: flex;
    justify-content: start;
    gap: 100px;
}
.cart p{
    font-size: 20px;
}

h4{
    margin: 30px 0;
    font-size: 20px;
}
ul li{
    margin-bottom: 20px;
    list-style: none;
    

}
ul li span{
    margin-left: 5px;
}

.blend-icon{
    stroke:#640d14;
    /* fill: gold; */
    width: 24px;
    height: 24px;
}

footer{
    margin: 100px 0;
    /* 10 12 14 16 */
    font-size: 14px;
    color: #495057;
}




/*============================= Nav CSS ============================== */
.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: relative;
  }
  
  .main-nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
  }
  .main-nav ul li a {
    text-decoration: none;
    color: brown;
    font-weight: 600;
  }
  
  .humburger-icon {
    display: none;
    cursor: pointer;
    
  }
  
  .menu-toggle {
    display: none;
  }
  



/* ========================== Responsive CSS ========================================== */

@media(max-width: 768px){
    h1{
        font-size: 36px ;
    }
    h2{
        font-size: 28px;
    }
    header , .special, .blends, .testimonial{
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        gap: 15px;
    }
    
    header img{
        width: 100%;
        height: auto;
        max-width: 500px;
        margin: 0 auto;
    }
    header div{
        margin: 0 auto;
        max-width: 500px;
    }

    .hero-image{
        order: -1;
    }
    .cart{
       flex-direction:column;
       gap: 20px 
    }
    .btn--small{
        padding: 8px 12px;
        font-size: 14px;
        width: 20%;
        margin: 0 auto ;
    }
    .blends div{
        margin-bottom: 12px;
    }

    .testimonial img{
        margin: 0 auto ;
        width: 100%;
        max-width: 500px;
      

    }
    .testimonial-box{
        margin: 0 auto;
        max-width: 500px;
        
    }
    .blends ul {
        text-align:center;
    }
    .blends ul li span{
       font-size: 18px;
    }

    .coffee-grid{
        max-width: 400px;
        width: 100%;
        margin: 0 auto;
    }

    footer{
        margin: 0 auto;
        max-width: 500px;
        width: 80%;
    }

  /* =================================================== Nav CSS For Mobiles and Ipads ===============================*/

   .main-nav{
    justify-content: end;
   }  
  .main-nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #f8f9fa;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    z-index: 10;
  }

  .menu-toggle:checked + .humburger-icon + ul {
    display: flex;
  }
  .humburger-icon {
    display: block;
    cursor: pointer;
  }
  .main-nav ul li {
    border-bottom: 1px soild #e9ecef;
    padding: 5px 0;
  }
    
}

@media (max-width: 480px){
    .btn--small{
        width: 40%;
    }
}