  /* 
  Font Size System px:-
  H1 : 44 52 62 
  
  P : 16  18 20

  H2 : 24 30 36 

  Small : 10 12 14 16
  
  */


    /* 
    
 Main Color: #640d14 
 Main Color:hover: #800e13 
 
 Text Color: ##343a40
    */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    font-family: 'Inter',sans-serif;
    border-bottom: 8px solid #640d14 ;
}

.coffee-container{
    width: 960px;
    margin: 0 auto;
    /* background-color: gold; */
}

h1{
    font-size: 47px;
    line-height: 1.1;
    letter-spacing: -1px;
    text-transform: capitalize;
    margin-bottom: 24px;
}

h2{
    margin-bottom: 36px;
    font-size: 36px;
    /* line-height: 1.3; */
    letter-spacing: -0.5px;
    /* text-transform: capitalize; */
}

.header-text{
    font-size: 18px;
    line-height: 1.7;
}
.btn:link, 
.btn:visited{
   
    
    background-color: #640d14;
    color: #fff;
    text-decoration: none;
    
    text-transform: uppercase;
    font-weight: 600;
    
}

.btn:hover,.btn:active{
    background-color: #800e13;
}

.btn--big{
    padding: 16px 32px;
    font-size: 18px;
    margin-top: 30px;
    display: inline-block;
}

.btn--small{
    padding: 8px 12px;
    font-size: 14px;
}



header, section{
    margin-bottom: 48px;
}


.special{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 80px;
}

.special h2{
    grid-column: 1/-1;
}

.features-title{
    margin-bottom: 16px;
    font-size: 20px;
}

.features-text{
    font-size: 18px;
    line-height: 1.7;
}
.features-icon{
    width: 30px;
    height: 30px;
    margin-bottom: 16px;
    stroke: #640d14 ;
}

header{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 50px;
    margin-top: 100px;
}

.testimonial{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    columns: 50px;

    background-color: #640d14;
    color: #fff;
    padding: 24px;
    
}
.testimonial-box h2{
    /* 24 30 36  */
    font-size: 30px;
}
.testimonial-text{
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 30px;

}

.blends{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* column-gap: 80px; */
}
.best-selling{
    grid-column: 1/-1;
    margin-bottom: 30px;
}

.cart{
    display: flex;
    justify-content: start;
    gap: 100px;
}
.cart p{
    font-size: 20px;
}

h4{
    margin: 30px 0;
    font-size: 20px;
}
ul li{
    margin-bottom: 20px;
    list-style: none;
    

}
ul li span{
    margin-left: 5px;
}

.blend-icon{
    stroke:#640d14;
    /* fill: gold; */
    width: 24px;
    height: 24px;
}

footer{
    margin: 100px 0;
    /* 10 12 14 16 */
    font-size: 14px;
    color: #495057;
}

